@page "/"

<h1 class="mb-4">
    Clínica Veterinaria
</h1>

<p class="mb-5">
    Sistema de administración de pacientes animales.
</p>

<div class="row g-4">

    <div class="col-md-4">

        <div class="dashboard-card">

            <h4>
                Registrar Perro
            </h4>

            <p>
                Agregar perros al sistema.
            </p>

            <a href="/perros"
                   class="btn btn-primary">

                Registrar

            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="dashboard-card">

            <h4>
                Registrar Gato
            </h4>

            <p>
                Agregar gatos al sistema.
            </p>

            <a href="/gatos"
                   class="btn btn-primary">

                Registrar

            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="dashboard-card">

            <h4>
                Registrar Ave
            </h4>

            <p>
                Agregar aves al sistema.
            </p>

            <a href="/aves"
                   class="btn btn-primary">

                Registrar

            </a>

        </div>

    </div>

</div>